# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Pnpm
.pnpm-store
node-compile-cache

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# storybook
*storybook.log

test-results
playwright-report
