body {
    background: #faf9f1;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

/* これらの要素は、以下を指定しないとbodyのフォントが反映されない */
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

a {
    color: #333;
    transition: 0.5s;
}

a:hover {
    color: #39b2ff;
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    font-size: inherit;
}

img {
    width: 100%;
}

h2 {
    font-weight: normal;
}

#container {
    padding: 0 3%;
}

.home {
    min-width: 320px;
}

.home #main {
    margin-top: 23%;
    margin-left: 58px;
}

#container {
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    padding: 0 10%;
}

.h2_contents {
    margin-top: 20px;
}

.h3_contents {
    margin-top: 10px;
}

header {
    width: 20%;
}

header #sub_title a {
    display: inline-block;
}

.submenu {
    overflow: hidden;
    border-radius: 10px;
    border: 5px solid #39b2ff;
    margin-top: 20px;
}

.submenu:first-child {
    margin-top: 0;
}

.submenu li {
    text-align: center;
    border-top: 1px solid #ccc;
    font-size: 18px;
}

.submenu li a {
    display: block;
    text-decoration: none;
    padding: 15px 5px;
    background: #fff;
}

.submenu li button {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 15px 5px;
    background: #fff;
}

.submenu li a:hover {
    background: #fbf6cc;
}

.submenu li button:hover {
    background: #fbf6cc;
}

.submenu li:first-child {
    border: none;
}

.submenu li span.subtitle {
    display: block;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 0.2em;
    color: #39b2ff;
}

#menubar-s {
    display: none;
}

#menubar_hdr {
    display: none;
}

#contents {
    display: flex;
    margin-top: 50px;
}

#main {
    width: 75%;
    font-size: 18px;
    line-height: 2;

    margin-left: 0;

    min-height: 620px;
}

.home #main {
    margin-top: 30%;
    margin-bottom: 100px;
}

#main h2 {
    clear: both;
    font-size: 24px;
    padding: 20px 20px 20px 60px;
    color: #fff;
    background: #39b2ff url(../images/arrow2.png) no-repeat 20px center / 25px;
    border-radius: 10px;
}

#main h3 {
    clear: both;
    margin-top: 20px;
    padding: 4px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
}

#main h3::first-letter {
    border-left: 3px solid #39b2ff;
    padding-left: 15px;
}

#main p {
    padding: 0 20px 20px;
}

#main .text {
    padding: 0 20px 20px;
}

#main p + p {
    margin-top: -5px;
}

#main h2 + p,
#main h3 + p {
    margin-top: -10px;
}

#main section + section {
    margin-top: 30px;
}

#sub {
    font-size: 14px;
    line-height: 1.5;
    width: 20%;
    height: fit-content;
}

.sticky_top {
    position: sticky;
    top: 20px;
    align-self: start;
}

.sticky_bottom {
    position: sticky;
    bottom: 20px;
    align-self: end;
}

#sub h2 {
    font-size: 18px;
}

#sub h2::first-letter {
    border-left: 3px solid #39b2ff;
    padding-left: 10px;
}

#sub .box h2::first-letter {
    border-left: 3px solid #fff;
}

#sub .box {
    background: #39b2ff;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#sub .box a {
    color: #fff;
}

#sub address {
    font-style: normal;
}

footer {
    clear: both;
    padding-top: 40px;
    text-align: center;
    font-size: 85%;
}

footer .pr {
    display: block;
    font-size: 80%;
}

#footermenu {
    padding: 10px;
}

#footermenu li {
    display: inline-block;
    padding: 2px 10px;
}

#copyright {
    clear: both;
    background: #333;
    color: #fff;
}

#copyright a {
    text-decoration: none;
    color: #fff;
}

#new dl {
    padding: 0 20px;
    margin-bottom: 20px;
}

#new dt {
    float: left;
    width: 9em;
    letter-spacing: 0.1em;
}

#new dd {
    padding-left: 9em;
    border-bottom: 1px solid #ccc;
}

.list {
    overflow: hidden;
    width: 26.4%;
    float: left;
    margin: 0 0 20px 2%;
    border: 1px solid #ccc;
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.1);
    padding: 2%;
    border-radius: 3px;
    background: #fff;
}

.list a {
    display: block;
    text-decoration: none;
    overflow: hidden;
    margin: -2%;
    padding: 2%;
    background: #fff url(../images/arrow1.png) no-repeat right bottom / 40px;
}

.list a:hover {
    position: relative;
    left: 1px;
    top: 1px;
}

.list h4 {
    color: #39b2ff;
    font-size: 120%;
    text-align: center;
    height: 2em;
    overflow: hidden;
    font-weight: normal;
}

.list p {
    padding: 0 !important;
    line-height: 1.5;
    font-size: 90%;
    color: #333;
    height: 6em;
    overflow: hidden;
}

.thumbnail {
    width: 70px;
    margin: 5px;
    opacity: 0.7;
}

.thumbnail:hover {
    opacity: 1;
}

.faq {
    padding: 0 20px;
}

.faq dt {
    color: #39b2ff;
    font-weight: bold;
    padding-left: 30px;
    background: url(../images/faq_q.png) no-repeat left top / 30px;
}

.faq dd {
    padding-left: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    background: url(../images/faq_a.png) no-repeat left top / 30px;
}

.ta1 caption {
    border: 1px solid #ccc;
    border-bottom: none;
    text-align: left;
    background: #eee;
    color: #666;
    font-weight: bold;
    padding: 10px;
}

.ta1 {
    table-layout: fixed;
    width: 100%;
    margin: 0 auto 20px;
    background: #fff;
    color: #666;
}

.ta1, .ta1 td, .ta1 th {
    word-break: break-all;
    border: 1px solid #ccc;
    padding: 10px;
}

.ta1 th {
    width: 140px;
    text-align: center;
}

.ta2 caption {
    border: 1px solid #b7b7b7;
    border-bottom: none;
    text-align: center;
    background: #fff;
    color: #333;
    font-weight: bold;
    padding: 10px;
}

.ta2 {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    background: #fff;
    color: #333;
}

.ta2, .ta2 td, .ta2 th {
    word-break: break-all;
    border: 1px solid #b7b7b7;
}

.ta2 th {
    background: #fffbe3;
}

#main input[type="submit"].btn,
#main input[type="button"].btn,
#main input[type="reset"].btn {
    padding: 5px 10px;
    border: 1px solid #ccc;
    font-size: 18px;
    border-radius: 3px;
    background: #eee;
}

#main input[type="submit"].btn:hover,
#main input[type="button"].btn:hover,
#main input[type="reset"].btn:hover {
    border: 1px solid #999;
    background: #fff;
}

#main .box {
    overflow: hidden;
    border: 3px solid #39b2ff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: #fff;
}

#main .box h4 {
    color: #39b2ff;
    font-size: 130%;
}

#main .box p {
    padding: 0 !important;
}

#main .box .fr, #main .box .fl {
    margin-bottom: 0;
}

.menu {
    overflow: hidden;
    margin-bottom: 20px;
    text-align: center;
}

.menu li {
    display: inline;
    border-right: 1px solid #999;
}

.menu li a {
    padding: 10px;
}

.menu li:first-child {
    border-left: 1px solid #999;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body .nav-fix-pos-pagetop a {
    display: none;
}

body.is-fixed-pagetop .nav-fix-pos-pagetop a {
    display: block;
    z-index: 100;
    position: fixed;
    width: 100px;
    bottom: 55px;
    right: 3%;
    animation-name: scroll;
    animation-duration: 0.5S;
    animation-fill-mode: forwards;
    border-radius: 50%;
    border: 3px solid #39b2ff;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
}

body.is-fixed-pagetop .nav-fix-pos-pagetop a:hover {
    background: #fff;
}

a[href$=".pdf"] {
    display: inline-block;
    background: url(../images/PDF_32.png) no-repeat right center;
    padding: 5px 40px 5px 0;
}

.newicon {
    background: #F00;
    color: #FFF;
    font-size: 70%;
    line-height: 1.5;
    padding: 2px 5px;
    border-radius: 2px;
    margin: 0 5px;
    vertical-align: text-top;
}

p.check {
    background: #ff0000;
    color: #fff;
    padding: 10px 25px !important;
    margin-bottom: 20px;
}

#sub p.check {
    padding: 5px !important;
}

p.check a {
    color: #fff;
}

ul.disc {
    list-style: disc;
    padding: 0 20px 20px 40px;
}

ol {
    padding: 0 20px 20px 45px;
}

.look {
    background: #eee;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
}

.mb15, .mb1em {
    margin-bottom: 15px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb30 {
    margin-bottom: 30px;
}

.clear {
    clear: both;
}

.color1, .color1 a {
    color: #39b2ff;
}

.bgcolor1 {
    background: #f2f2f2 !important;
}

.bgcolor2 {
    background: #dbebf7 !important;
}

.pr {
    font-size: 10px;
}

.wl {
    width: 96%;
}

.ws {
    width: 50%;
}

.w40p {
    width: 40%;
}

.w20p {
    width: 20%;
}

.c {
    text-align: center;
}

.r {
    text-align: right;
}

.l {
    text-align: left;
}

.fr {
    float: right;
    margin-left: 2%;
    margin-bottom: 20px;
}

.fl {
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
}

.big1 {
    font-size: 24px;
    letter-spacing: 0.2em;
}

#sub .big1 {
    font-size: 20px;
    letter-spacing: normal;
}

.mini1 {
    font-size: 11px;
    display: inline-block;
    line-height: 1.5;
}

.sh {
    display: none;
}

.dn {
    display: none;
}


@media screen and (min-width: 901px) and (max-width: 1100px) {
    #container {
        padding: 0 3%;
    }

    .home #main {
        margin-top: 23%;
        margin-left: 58px;
    }
}


@media screen and (max-width: 900px) {
    #container {
        padding: 0 3%;
    }

    .home #main {
        width: 100%;
        margin-top: 23%;
        margin-left: 0;
    }

    header {
        position: absolute;
        top: 0;
        left: 3%;
    }

    #menubar_hdr {
        position: absolute;
        top: 0;
        right: 3%;
    }

    header #sub_title {
        width: 170px;
    }

    .home #contents {
        margin-top: 0;
        padding-top: 25%;
    }

    @keyframes menu1 {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    #menubar-s {
        display: block;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        border-top: 1px solid #fff;
        width: 100%;
        z-index: 10;
        animation-name: menu1;
        animation-duration: 0.5S;
        animation-fill-mode: both;
    }

    #menubar-s li a {
        display: block;
        text-decoration: none;
        padding: 15px 10px 15px 20px;
        border-bottom: 1px solid #fff;
        background: rgba(0, 0, 0, 0.8);
        font-size: 20px;
        color: #fff;
    }

    #menubar-s li a span {
        display: block;
        font-size: 12px;
    }

    #menubar {
        display: none;
    }

    #header {
        display: block;
        position: sticky;
        z-index: 11;
        top: 50px;
        right: 3%;
    }

    .submenu {
        display: none;
    }

    #menubar_hdr.close,
    #menubar_hdr.open {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    #menubar_hdr.close {
        background: #39b2ff url(../images/icon_menu.png) no-repeat center top/50px;
    }

    #menubar_hdr.open {
        background: #39b2ff url(../images/icon_menu.png) no-repeat center bottom/50px;
    }

    header, #main, #sub {
        float: none;
        width: auto;
        overflow: hidden;
    }

    body.s-n #sub, body.s-n #side {
        display: none;
    }

    #header a {
        display: inline-block;
        content: '';
        width: 50px;
        height: 50px;

        border: 1px solid #fff;

    }
}

@media screen and (max-width: 600px) {
    #main h2 {
        font-size: 18px;
        padding: 10px 20px 10px 60px;
    }

    body.is-fixed-pagetop .nav-fix-pos-pagetop a {
        width: 60px;
    }
}

@media screen and (max-width: 480px) {
    body {
        /*
        font-size: 12px;
        */
        font-size: 2.93vw;
    }

    header #sub_title {
        width: 120px;
    }

    .home #contents {
        padding-top: 25%;
    }

    #contents {
        padding-top: 140px;
    }

    #main h2 {
        font-size: 16px;
        padding: 10px 20px;
        background-image: none;
    }

    #main h3::first-letter {
        border-left: none;
        padding-left: 0;
    }

    #main p {
        padding: 0 0 20px;
    }

    .list {
        overflow: hidden;
        width: 26.4%;
        float: left;
        margin: 0 0 20px 2%;
        border: 1px solid #ccc;
        box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.1);
        padding: 2%;
        border-radius: 3px;
    }

    .list a {
        display: block;
        text-decoration: none;
        overflow: hidden;
        margin: -2%;
        padding: 2%;
        background: url(../images/arrow1.png) no-repeat right bottom / 40px;
    }

    .list a:hover {
        position: relative;
        left: 1px;
        top: 1px;
    }

    .list h4 {
        color: #39b2ff;
        font-size: 100%;
        text-align: center;
        height: 2em;
        overflow: hidden;
    }

    .list p {
        padding: 0 !important;
        line-height: 1.5;
        font-size: 90%;
        color: #333;
        height: 6em;
        overflow: hidden;
    }

    #new dl {
        padding-left: 10px;
        padding-right: 10px;
    }

    .faq {
        padding: 0;
    }

    .faq dt, .faq dd {
        background-size: 25px;
    }

    .ta1 caption {
        padding: 5px;
    }

    .ta1, .ta1 td, .ta1 th {
        padding: 5px;
    }

    .ta1 th {
        width: 100px;
    }

    .ws, .wl {
        width: 94%;
    }

    .big1 {
        font-size: 18px;
        letter-spacing: normal;
    }

    .sh {
        display: block;
    }

    .pc {
        display: none;
    }
}
