:root {
  interpolate-size: allow-keywords;
}

@function em($px) {
  @return calc($px / 16) * 1em;
}

@function rem($px) {
  @return calc($px / 16) * 1rem;
}

body {
  font-family:
    "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    Meiryo, sans-serif;

  word-break: auto-phrase;

  font-size: em(16);
}

a {
  transition: 0.5s;
}

a:hover {
  color: rgb(59 130 246);
}

.home {
  #main {
    h2 {
      font-size: rem(24);
      border-radius: rem(10);
    }

    h3::first-letter {
      border-left: rem(3) solid rgb(59 130 246);
    }

    h3 {
      border: rem(1) solid #ccc;
      border-radius: rem(10);
    }
  }

  .circle-icon::before {
    content: "";
    display: inline-flex;
    width: rem(25);
    height: rem(25);
    border-radius: 50%;
    border: 4px solid #fff;
    margin-right: 10px;
  }

  .h2_contents {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2%;
    grid-row-gap: 0;
    place-items: center;
    overflow-wrap: anywhere;
    line-height: 1.5;

    .list {
      border: rem(1) solid #ccc;
      box-shadow: rem(3) rem(4) rem(2) rgba(0, 0, 0, 0.1);
      border-radius: rem(3);
      background: #fff;
      box-sizing: border-box;

      a {
        display: block;
        /*
        background: #fff url("assets/images/arrow1.png") no-repeat right
          bottom / rem(40);
        */
      }

      a:hover {
        position: relative;
        left: rem(1);
        top: rem(1);
      }

      h4 {
        color: rgb(59 130 246);
        font-size: clamp(rem(16), 3vw, rem(22));
        text-align: center;
        font-weight: normal;
      }

      p {
        line-height: 1.5;
        font-size: clamp(rem(10), 3vw, rem(16));
        color: #333;
      }
    }
  }

  #sub {
    font-size: rem(14);
  }

  .submenu {
    border-radius: rem(10);
    border: rem(5) solid rgb(59 130 246);

    li {
      border-top: rem(1) solid #ccc;
      font-size: rem(18);

      a {
        display: block;
        background: #fff;
      }

      a:hover {
        background: #fbf6cc;
      }

      span.subtitle {
        display: block;
        font-size: rem(11);
        font-weight: normal;
        letter-spacing: 0.2em;
        color: rgb(59 130 246);
      }
    }

    li:first-child {
      border: none;
    }
  }

  .sticky_top {
    position: sticky;
    top: 0;
    align-self: start;
  }

  .sticky_bottom {
    position: sticky;
    bottom: 0;
    align-self: end;
  }

  .new {
    dl {
      border-bottom: 1px solid #ccc;
    }
    dt {
      letter-spacing: 0.1em;
    }
    dd {
      overflow-wrap: anywhere;
    }
  }

  .new-icon {
    font-size: 70%;
    line-height: 1.5;
    border-radius: rem(2);
    vertical-align: text-top;
  }
}
